################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFaceApi/bin/Debug/netcoreapp3.1
/MyFaceApi/obj
/Stream
/Documents
/Logs
/MyFaceApi.Tests.UnitTests/bin/Debug/netcoreapp3.1
/MyFaceApi.Tests.UnitTests/obj/Debug/netcoreapp3.1
/MyFaceApi.Models/obj
/MyFaceApi.Models/bin/Debug/netcoreapp3.1
/MyFaceApi.DataAccess/obj
/MyFaceApi.DataAccess/bin/Debug/netcoreapp3.1
/MyFaceApi.Repository/bin/Debug/netcoreapp3.1
/MyFaceApi.Repository/obj
/MyFaceApi.IdentityServer/obj/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer/obj
/MyFaceApi.IdentityServer.DataAccess/obj/Debug/netcoreapp3.1
/MyFaceApi.Tests.UnitTests/obj
/MyFaceApi.IdentityServer.DataAccess/obj
/MyFaceApi.IdentityServer.DataAccess/bin/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1/runtimes
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer/tempkey.jwk
/Images/1.8.JPG
/Images
/MyFaceApi/log.json
/MyFaceAPI.Infractructure
/MyFaceApi.Application/bin/Debug/netcoreapp3.1
/MyFaceApi.Application/obj
/MyFaceApi.Domain/bin/Debug/netcoreapp3.1
/MyFaceApi.Infrastructure/bin/Debug/netcoreapp3.1
/MyFaceApi.Infrastructure/obj/Debug/netcoreapp3.1
/MyFaceApi.Infrastructure/obj
/MyFaceApi.Domain/obj/Debug/netcoreapp3.1
/MyFaceApi.Domain/obj
/MyFaceApi/Todo.txt
/MyFaceApi.IdentityServer.Application/bin/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer.Application/obj/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer.Application/obj
/MyFaceApi.IdentityServer.Domain/bin/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer.Domain/obj/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer.Domain/obj
/MyFaceApi.IdentityServer.Infrastructure/bin/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer.Infrastructure/obj
/Pagination/bin/Debug/netcoreapp3.1
/Pagination/obj
/MyFaceApi/p03-02-2021-00-58-08_da059851-55ca-4ec5-bf6f-0cfd908066e5.png
/MyFaceApi/p03-02-2021-00-52-19_b0ad93dd-d61a-4b8e-a1d5-a0ef1462d537.jpg
/MyFaceApi.IdentityServer/wwwroot/lib
