################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFaceApi/bin/Debug/netcoreapp3.1
/MyFaceApi/obj
/Stream
/Documents
/Logs
/MyFaceApi.Tests.UnitTests/bin/Debug/netcoreapp3.1
/MyFaceApi.Tests.UnitTests/obj/Debug/netcoreapp3.1
/MyFaceApi.Models/obj
/MyFaceApi.Models/bin/Debug/netcoreapp3.1
/MyFaceApi.DataAccess/obj
/MyFaceApi.DataAccess/bin/Debug/netcoreapp3.1
/MyFaceApi.Repository/bin/Debug/netcoreapp3.1
/MyFaceApi.Repository/obj
/MyFaceApi.IdentityServer/obj/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer/obj
/MyFaceApi.IdentityServer.DataAccess/obj/Debug/netcoreapp3.1
/MyFaceApi.Tests.UnitTests/obj
/MyFaceApi.IdentityServer.DataAccess/obj
/MyFaceApi.IdentityServer.DataAccess/bin/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/win/lib
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1/runtimes
/MyFaceApi.IdentityServer/bin/Debug/netcoreapp3.1
/MyFaceApi.IdentityServer/tempkey.jwk
/Images/1.8.JPG
/Images
