################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFaceApi/bin/Debug/netcoreapp3.1
/MyFaceApi/obj
/Stream
/Documents
/Logs
/MyFaceApi.Tests.UnitTests/bin/Debug/netcoreapp3.1
/MyFaceApi.Tests.UnitTests/obj/Debug/netcoreapp3.1
