@model MyFaceApi.IdentityServer.Application.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Rejestracja";
}

<h1 class="col-12 text-center">Dołącz do nas!</h1>
<h6 class="mt-4 col-12 text-center">Wprowadzone dane będą przechowywane na serwerze. Nie podawaj prawdziwych danych!</h6>
<div class="row">
    <div class="col-12 border p-3 mt-5">
        <form asp-action="Register" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="Login" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Login" class="form-control input-box" placeholder="Login" />
                </div>
                <span asp-validation-for="Login" class="text-danger align-self-center ml-3 ml-md-0"></span>
            </div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="FirstName" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="FirstName" class="form-control input-box" placeholder="Imię" />
                </div>
                <span asp-validation-for="FirstName" class="text-danger align-self-center ml-3 ml-md-0"></span>
            </div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="LastName" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="LastName" class="form-control input-box" placeholder="Nazwisko" />
                </div>
                <span asp-validation-for="LastName" class="text-danger align-self-center ml-3 ml-md-0"></span>
            </div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Email" class="form-control input-box" style="background :rgb(90, 90, 90)" disabled placeholder="Email" />
                </div>
                <span asp-validation-for="Email" class="text-danger align-self-center ml-3"></span>
            </div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="Password" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="password" asp-for="Password" class="form-control input-box" placeholder="Hasło" />
                </div>
                <span asp-validation-for="Password" class="text-danger align-self-center ml-3 ml-md-0"></span>
            </div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="password" asp-for="ConfirmPassword" class="form-control input-box" placeholder="Powtórz hasło" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger align-self-center ml-3 ml-md-0"></span>
            </div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="City" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="City" class="form-control input-box" style="background :rgb(90, 90, 90)" disabled placeholder="Miejscowość" />
                </div>
                <span asp-validation-for="City" class="text-danger align-self-center ml-3"></span>
            </div>

            <div class="form-group d-md-flex mb-1">
                <div class="col-2 col-sm-3 text-right align-self-center d-none d-md-block">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="date" asp-for="DateOfBirth" class="form-control input-box" style="background :rgb(90, 90, 90)" disabled />
                </div>
                <span asp-validation-for="DateOfBirth" class="text-danger align-self-center ml-3 ml-md-0"></span>
            </div>
            <div class="col-12 col-sm-12 col-md-6 offset-0 offset-md-3 mb-2 mt-3">
                <div class="btn-group d-flex">
                    <button type="submit" class="btn btn-dark btn-block mr-1 border border-white">Utwórz</button>
                    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" asp-route-seenNotification="@Model.AlreadySeenNotification" class="btn btn-dark btn-block ml-1 mt-0 border border-white">Masz już konto?</a>
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <div class="col-12 col-md-6 offset-0 offset-md-3 h6 text-danger text-center">
                    @Model.ErrorMessage
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
