@model MyFaceApi.IdentityServer.Application.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Zarejestruj się";
}

<h1 class="col-12 text-center">Dołącz do nas!</h1>

<div class="row">
    <div class="col-12 border p-3 mt-5">
        <form asp-action="Register" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group d-flex">
                <div class="col-2 col-sm-3 text-right align-self-center">
                    <label asp-for="Login" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Login" class="form-control input-box" />
                </div>
                <span asp-validation-for="Login" class="text-danger align-self-center"></span>
            </div>

            <div class="form-group d-flex">
                <div class="col-2 col-sm-3 text-right align-self-center">
                    <label asp-for="FirstName" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="FirstName" class="form-control input-box" />
                </div>
                <span asp-validation-for="FirstName" class="text-danger align-self-center"></span>
            </div>

            <div class="form-group d-flex">
                <div class="col-2 col-sm-3 text-right align-self-center">
                    <label asp-for="LastName" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="LastName" class="form-control input-box" />
                </div>
                <span asp-validation-for="LastName" class="text-danger align-self-center"></span>
            </div>

            <div class="form-group d-flex">
                <div class="col-2 col-sm-3 text-right align-self-center">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Email" class="form-control input-box" />
                </div>
                <span asp-validation-for="Email" class="text-danger align-self-center"></span>
            </div>

            <div class="form-group d-flex">
                <div class="col-2 col-sm-3 text-right align-self-center">
                    <label asp-for="Password" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="password" asp-for="Password" class="form-control input-box" />
                </div>
                <span asp-validation-for="Password" class="text-danger align-self-center"></span>
            </div>

            <div class="form-group d-flex">
                <div class="col-2 col-sm-3 text-right align-self-center">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="password" asp-for="ConfirmPassword" class="form-control input-box" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger align-self-center"></span>
            </div>

            <div class="col-9 col-sm-9 col-md-6 offset-3">
                <div class="btn-group d-flex">
                    <button type="submit" class="btn btn-dark btn-block mr-1">Utwórz</button>
                    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-dark btn-block ml-1 mt-0">Masz już konto?</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
